body {
  margin: 0;
  min-height: 100vh;
  font-family: tahoma, sans-serif;
  font-size: 20px;
}

.prevent-selection {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
