.tile {
  float: left;
  position: relative;
  pointer-events: none;
}

.tileNum {
  /* position: absolute; */
  text-align: center;
  font-size: 12vw;
  line-height: 19vh;
  opacity: 0.1;
  border: 0.5px solid black;
  height: 100%;
  width: 100%;
}
