.details {
  width: 100%;
  background: rgb(184, 143, 112, 0.7);
  padding: 24px;
}

.details > div {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  z-index: 1000;
  text-align: center;
  text-transform: uppercase;
}

.results {
  min-height: 20vh;
}
