.details {
  width: 100%;
  background: #6c656b;
  padding: 24px;
}

.details > div {
  max-width: 600px;
  margin: 0 auto;
}

.details button {
  width: 15vw;
  height: 5vh;
  font-size: 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.results {
  min-height: 20vh;
}
